@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600;700;900&family=Fraunces:opsz@9..144&display=swap");
* {
  font-family: "Barlow", sans-serif;
  font-family: "Fraunces", serif;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
